# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=name-database
POSTGRES_PORT=0000

# Microservices
PATIENTS_SERVICE_HOST=patients-service
DOCTORS_SERVICE_HOST=doctors-service
APPOINTMENTS_SERVICE_HOST=appointments-service
ANALYTICS_SERVICE_HOST=analytics-service

# Google Cloud
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""
