@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  background: var(--mantine-color-body);
  font-family: var(--mantine-font-family);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.premium-skeleton {
  background: linear-gradient(
    90deg,
    var(--mantine-color-gray-1) 25%,
    var(--mantine-color-gray-0) 50%,
    var(--mantine-color-gray-1) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}
